@scope (.state-form) {
  :scope {
    width: 500px;
  }

  .state-form__fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .input {
    display: flex;
    align-items: center;
  }

  .input__field {
    width: 100%;
  }

  .input__reset-button {
    height: min-content;
  }
}
